/*this is a component css*/
.sicListingOnlineProps {}

.Label13Props {
    overflow: hidden;
}

.oa2DigitSICProps {}

.Label14Props {
    overflow: hidden;
}

.oaSearchStringProps {}

.GoProps {}

.AProps {}

.BProps {}

.CProps {}

.Button30Props {}

.Button28Props {}

.Button29Props {}

.Button32Props {}

.Button36Props {}

.Button35Props {}

.Button34Props {}

.Button33Props {}

.Button31Props {}

.Button44Props {}

.Button42Props {}

.Button41Props {}

.Button40Props {}

.Button39Props {}

.Button38Props {}

.Button43Props {}

.Button48Props {}

.Button47Props {}

.Button46Props {}

.Button45Props {}

.Button37Props {}

.Button49Props {}

.Button50Props {}

.Label12Props {
    overflow: hidden;
}

.entityClassificationProps {}

.Label23Props {
    overflow: hidden;
}

.entityPropertyProps {}

.Table15TableContainerProps {}

.Table15Props {
    border: lightskyblue solid 1px;
}

.Table15_table_rowProps {}

.Table15_table_rowProps:hover {
    background-color: #EEEEEE;
}

.selected {
    background: #F5F5F5;
}

.Column16Props {}

.mat-column-Column16 {}

.sicProps {}

.Column18Props {}

.mat-column-Column18 {}

.sicDescriptionProps {}

.Column24Props {}

.mat-column-Column24 {}

.sectionProps {}

.Column26Props {}

.mat-column-Column26 {}

.categoryProps {}

.Column20Props {}

.mat-column-Column20 {}

.LinkProps {}