<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="mainRoute"
    >
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                magic="btnEvents"
            >
                Events</button>
            <label
                magic="Label4"
                class="lable_overflow mgFont1"
            >
                eoIsn</label>
            <mat-form-field>
                <div><input
                        matInput
                        type='number'
                        magic="eoIsn"
                        formControlName="eoIsn"
                        mgFormat
                    >
                    <mgError magic="eoIsn"> </mgError>
                </div>
            </mat-form-field> <button
                mat-raised-button
                color="primary"
                magic="btnListing"
            >
                Listing</button>
            <label
                magic="Label7"
                class="lable_overflow mgFont1"
            >
                inLongitude</label>
            <mat-form-field>
                <div><input
                        matInput
                        type='number'
                        magic="inLongitude"
                        formControlName="inLongitude"
                        mgFormat
                    >
                    <mgError magic="inLongitude"> </mgError>
                </div>
            </mat-form-field><label
                magic="Label9"
                class="lable_overflow mgFont1"
            >
                inLatitude</label>
            <mat-form-field>
                <div><input
                        matInput
                        type='number'
                        magic="inLatitude"
                        formControlName="inLatitude"
                        mgFormat
                    >
                    <mgError magic="inLatitude"> </mgError>
                </div>
            </mat-form-field><label
                magic="Label11"
                class="lable_overflow mgFont1"
            >
                inOffset</label>
            <mat-form-field>
                <div><input
                        matInput
                        type='number'
                        magic="inOffset"
                        formControlName="inOffset"
                        mgFormat
                    >
                    <mgError magic="inOffset"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <router-outlet magic="magicRoute">
            </router-outlet>
        </div>
    </div>
</div>