<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="EditEventOnline"
    >
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                magic="SaveEventButton"
                [disabled]="mg.isDisabled('SaveEventButton' )"
            >
                Save Event</button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label14"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label14' )"
            >
                * Event Name</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aShortDescription"
                        formControlName="aShortDescription"
                        mgFormat
                    >
                    <mgError magic="aShortDescription"> </mgError>
                </div>
            </mat-form-field><label
                magic="StartDateLabel"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('StartDateLabel' )"
            >
                Start Date</label>
            <mat-form-field
                magic="dStartDate"
                [eventsOnly]=true
            ><input
                    matInput
                    [matDatepicker]="dStartDate"
                    magic="dStartDate"
                    formControlName="dStartDate"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dStartDate"
                    *ngIf="mg.checkIsReadOnly('dStartDate')"
                ></mat-datepicker-toggle>
                <mat-datepicker #dStartDate></mat-datepicker>
            </mat-form-field><label
                magic="EndDateLabel"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('EndDateLabel' )"
            >
                End Date</label>
            <mat-form-field
                magic="dEndDate"
                [eventsOnly]=true
            ><input
                    matInput
                    [matDatepicker]="dEndDate"
                    magic="dEndDate"
                    formControlName="dEndDate"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dEndDate"
                    *ngIf="mg.checkIsReadOnly('dEndDate')"
                ></mat-datepicker-toggle>
                <mat-datepicker #dEndDate></mat-datepicker>
            </mat-form-field><label
                magic="TimeFromLabel"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('TimeFromLabel' )"
            >
                Time From</label>
            <mat-form-field>
                <div><input
                        matInput
                        type='time'
                        step=1
                        magic="tTimeFrom"
                        formControlName="tTimeFrom"
                    >
                    <mgError magic="tTimeFrom"> </mgError>
                </div>
            </mat-form-field><label
                magic="TimeToLabel"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('TimeToLabel' )"
            >
                Time To</label>
            <mat-form-field>
                <div><input
                        matInput
                        type='time'
                        step=1
                        magic="dTimeTo"
                        formControlName="dTimeTo"
                    >
                    <mgError magic="dTimeTo"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label36"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label36' )"
            >
                Summary</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aLongDescription"
                        formControlName="aLongDescription"
                        mgFormat
                    >
                    <mgError magic="aLongDescription"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label29"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label29' )"
            >
                * Event Category</label>
            <div>
                <mat-form-field>
                    <mat-select
                        magic="aCategoryID"
                        formControlName="aCategoryID"
                    >
                        <mat-option
                            *ngFor="let o of mg.getItemListValues('aCategoryID');"
                            [value]="o.index"
                        >
                            {{o.displayValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div><label
                magic="Label18"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label18' )"
            >
                URL</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aEventURL"
                        formControlName="aEventURL"
                        mgFormat
                    >
                    <mgError magic="aEventURL"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-form-field>
                <div><input
                        matInput
                        magic="aLocation"
                        formControlName="aLocation"
                        mgFormat
                    >
                    <mgError magic="aLocation"> </mgError>
                </div>
            </mat-form-field><label
                magic="Label22"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label22' )"
            >
                Address</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aAddress"
                        formControlName="aAddress"
                        mgFormat
                    >
                    <mgError magic="aAddress"> </mgError>
                </div>
            </mat-form-field><label
                magic="Label24"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label24' )"
            >
                * PostalCode</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aPostalCode"
                        formControlName="aPostalCode"
                        mgFormat
                    >
                    <mgError magic="aPostalCode"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label20"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label20' )"
            >
                * Location</label></div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label16"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label16' )"
            >
                Price</label>
            <mat-form-field>
                <div><input
                        matInput
                        type='number'
                        magic="aEventPrice"
                        formControlName="aEventPrice"
                        mgFormat
                    >
                    <mgError magic="aEventPrice"> </mgError>
                </div>
            </mat-form-field><label
                magic="Label27"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label27' )"
            >
                BonusFactor</label>
            <mat-form-field [matTooltip]="mg.getTitle('nBonusFactor')">
                <div><input
                        matInput
                        type='number'
                        magic="nBonusFactor"
                        formControlName="nBonusFactor"
                        mgFormat
                    >
                    <mgError magic="nBonusFactor"> </mgError>
                </div>
            </mat-form-field><label
                magic="Label38"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label38' )"
            >
                Event Image</label>
            <mat-form-field [style.visibility]="mg.getVisible('imageFileName')">
                <div><input
                        matInput
                        magic="imageFileName"
                        formControlName="imageFileName"
                        mgFormat
                    >
                    <mgError magic="imageFileName"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label30"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label30' )"
            >
                Publish Event?</label>
            <div>
                <mat-checkbox
                    magic="lPublishEvent"
                    formControlName="lPublishEvent"
                >
                    Publish Event?</mat-checkbox>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label32"
                class="lable_overflow mgFont1"
                [attr.disabled]="mg.isDisabled('Label32' )"
            >
                Featured Event?</label>
            <div>
                <mat-checkbox
                    magic="lFeatureEvent"
                    formControlName="lFeatureEvent"
                >
                    Feature Event?</mat-checkbox>
            </div>
        </div>
    </div>
</div>