/*this is a component css*/
.EditEventOnlineProps {}

.SaveEventButtonProps {}

.Label14Props {
    overflow: hidden;
}

.aShortDescriptionProps {}

.StartDateLabelProps {
    overflow: hidden;
}

.dStartDateProps {}

.EndDateLabelProps {
    overflow: hidden;
}

.dEndDateProps {}

.TimeFromLabelProps {
    overflow: hidden;
}

.tTimeFromProps {}

.TimeToLabelProps {
    overflow: hidden;
}

.dTimeToProps {}

.Label36Props {
    overflow: hidden;
}

.aLongDescriptionProps {}

.Label29Props {
    overflow: hidden;
}

.aCategoryIDProps {}

.Label18Props {
    overflow: hidden;
}

.aEventURLProps {}

.aLocationProps {}

.Label22Props {
    overflow: hidden;
}

.aAddressProps {}

.Label24Props {
    overflow: hidden;
}

.aPostalCodeProps {}

.Label20Props {
    overflow: hidden;
}

.Label16Props {
    overflow: hidden;
}

.aEventPriceProps {}

.Label27Props {
    overflow: hidden;
}

.nBonusFactorProps {}

.Label38Props {
    overflow: hidden;
}

.imageFileNameProps {}

.Label30Props {
    overflow: hidden;
}

.lPublishEventProps {}

.Label32Props {
    overflow: hidden;
}

.lFeatureEventProps {}