<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="viewMyEvents"
        class="viewMyEventsProps"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label14"
                class="Label14Props mgFont1"
            >
                * From Date</label>
            <mat-form-field class="dFromDateProps">
                <input
                    matInput
                    [matDatepicker]="dFromDate"
                    formControlName="dFromDate"
                    magic="dFromDate"
                    class="dFromDateProps"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dFromDate"
                    *ngIf="mg.checkIsReadOnly('dFromDate')"
                ></mat-datepicker-toggle>
                <mat-datepicker #dFromDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="aSearchStringProps">
                <div>
                    <input
                        matInput
                        magic="aSearchString"
                        formControlName="aSearchString"
                        pattern="^.{0,20}$"
                    >
                    <div *ngIf="(screenFormGroup.get('aSearchString').dirty) && (
screenFormGroup.get('aSearchString').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('aSearchString') }}</p>
                    </div>
                </div>
            </mat-form-field>
            <button
                mat-raised-button
                color="primary"
                magic="Search"
                class="SearchProps"
            >
                Search</button>
            <button
                mat-raised-button
                color="primary"
                magic="CreateEvent"
                class="CreateEventProps"
            >
                CreateEvent</button>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table3TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="Table3Props"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        magic="Column8"
                        matColumnDef="Column8"
                    >
                        <mat-header-cell *matHeaderCellDef> Short Description </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <label
                                    magic="ShortDescription"
                                    [rowId]="row.rowId"
                                    class="ShortDescriptionProps hidden_border"
                                >
                                    {{mg.getValue('ShortDescription', row.rowId)
}}</label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        magic="Column24"
                        matColumnDef="Column24"
                    >
                        <mat-header-cell *matHeaderCellDef> dStartDate </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <label
                                    magic="dStartDate"
                                    [rowId]="row.rowId"
                                    class="dStartDateProps hidden_border"
                                >
                                    {{mg.getValue('dStartDate', row.rowId)
| magicDate : 'dStartDate'}}</label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        magic="Column10"
                        matColumnDef="Column10"
                    >
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <button
                                    mat-raised-button
                                    color="primary"
                                    magic="Modify"
                                    [rowId]="row.rowId"
                                    class="ModifyProps"
                                >
                                    Modify</button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        magic="Column22"
                        matColumnDef="Column22"
                    >
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <button
                                    mat-raised-button
                                    color="primary"
                                    magic="Delete"
                                    [rowId]="row.rowId"
                                    class="DeleteProps"
                                >
                                    Delete</button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row
                        *matHeaderRowDef="displayedColumns"
                        class="Table3_table_headerRowProps"
                    ></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="Table3_table_rowProps"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        magicMark="magicTableRowContainer"
                        (click)="tableService.selectRow(row.rowId)"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-card>
                <magic-subform
                    magic="eventsubform"
                    class="eventsubformProps"
                >
                </magic-subform>
            </mat-card>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-card>
                <magic-subform
                    magic="ticket_subform"
                    class="ticket_subformProps"
                >
                </magic-subform>
            </mat-card>
        </div>
    </div>
</form>