/*this is a component css*/
.viewMyEventsProps {}

.Label14Props {
    overflow: hidden;
}

.dFromDateProps {}

.aSearchStringProps {}

.SearchProps {}

.CreateEventProps {}

.Table3TableContainerProps {}

.Table3Props {
    border: lightskyblue solid 1px;

    width: 100%;
    white-space: nowrap;
}

.Table3_table_rowProps {}

.Table3_table_rowProps:hover {
    background-color: rgb(138, 117, 117);
}

.Column8Props {
    width: 10%;
}

.mat-column-Column8 {
    width: 10%;
}

.ShortDescriptionProps {}

.Column24Props {
    width: 10%;
}

.mat-column-Column24 {
    width: 10%;
}

.dStartDateProps {}

.Column10Props {
    width: 10%;
}

.mat-column-Column10 {
    width: 10%;
}

.ModifyProps {}

.Column22Props {
    width: 10%;
}

.mat-column-Column22 {
    width: 10%;
}

.DeleteProps {}

.eventsubformProps {}

.ticket_subformProps {}


.selected {
    outline: rgba(140, 156, 95, 0.479);
    outline-width: thick;
    background-color: antiquewhite;
}

