/*this is a component css*/
.viewMyEventsProps {}

.Label14Props {
    overflow: hidden;
}

.dFromDateProps {}

.aSearchStringProps {}

.SearchProps {}

.CreateEventProps {}

.Table3TableContainerProps {}

.Table3Props {
    border: lightskyblue solid 1px;
}

.Table3_table_rowProps {}

.Table3_table_rowProps:hover {
    background-color: #EEEEEE;
}

.selected {
    background: #F5F5F5;
}

.Column8Props {}

.mat-column-Column8 {}

.ShortDescriptionProps {}

.Column24Props {}

.mat-column-Column24 {}

.dStartDateProps {}

.Column10Props {}

.mat-column-Column10 {}

.ModifyProps {}

.Column22Props {}

.mat-column-Column22 {}

.DeleteProps {}

.eventsubformProps {}

.ticket_subformProps {}