<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="eventListing"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label6"
                class="lable_overflow mgFont1"
            >
                dFromDate</label>
            <mat-form-field
                magic="dFromDate"
                [eventsOnly]=true
            ><input
                    matInput
                    [matDatepicker]="dFromDate"
                    magic="dFromDate"
                    formControlName="dFromDate"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dFromDate"
                    *ngIf="mg.checkIsReadOnly('dFromDate')"
                ></mat-datepicker-toggle>
                <mat-datepicker #dFromDate></mat-datepicker>
            </mat-form-field><label
                magic="Label8"
                class="lable_overflow mgFont1"
            >
                dToDate</label>
            <mat-form-field
                magic="dToDate"
                [eventsOnly]=true
            ><input
                    matInput
                    [matDatepicker]="dToDate"
                    magic="dToDate"
                    formControlName="dToDate"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dToDate"
                    *ngIf="mg.checkIsReadOnly('dToDate')"
                ></mat-datepicker-toggle>
                <mat-datepicker #dToDate></mat-datepicker>
            </mat-form-field> <button
                mat-raised-button
                color="primary"
                magic="Search"
            >
                Search</button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="NoEvents"
                [style.visibility]="mg.getVisible('NoEvents')"
                class="lable_overflow"
            >
                No events for this period</label></div>
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table2TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        magic="Column9"
                        matColumnDef="Column9"
                    >
                        <mat-header-cell *matHeaderCellDef> dEventDate </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div
                                    [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                    style="display: flex; flex-direction: row"
                                >
                                    <label
                                        magic="dEventDate"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue('dEventDate', row.rowId)
| magicDate : 'dEventDate'}}
                                    </label>
                                </div>
                            </div>
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div
                                    [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                    style="display: flex; flex-direction: row"
                                >
                                    <label
                                        magic="tEventTime"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue('tEventTime', row.rowId)
| magicTime : 'tEventTime'}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        magic="Column17"
                        matColumnDef="Column17"
                    >
                        <mat-header-cell *matHeaderCellDef> aEventShortDescription </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div
                                    [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                    style="display: flex; flex-direction: row"
                                >
                                    <label
                                        magic="aEventShortDescription"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue('aEventShortDescription', row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div
                                    [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                    style="display: flex; flex-direction: row"
                                >
                                    <label
                                        magic="aEventLongDescription"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue('aEventLongDescription', row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <button
                                    mat-raised-button
                                    color="primary"
                                    magic="Tickets"
                                    [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible('Tickets', row.rowId)"
                                >
                                    Tickets</button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="tableService.selectRow(row.rowId)"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div><label magic="aFeaturedShortDesctription">
                {{mg.getValue('aFeaturedShortDesctription') }}
            </label>
            <div *ngIf="mg.isImageExists('Image1')">
                <img
                    magic="Image1"
                    [src]="mg.getImage('Image1')"
                />
            </div>
        </div>
    </div>
</div>