<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="detailsSubform"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label12"
                class="lable_overflow mgFont1"
            >
                aOrderDetails</label><label magic="Edit11">
                {{mg.getValue('Edit11') }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label2"
                class="lable_overflow mgFont1"
            >
                aFirstName</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aFirstName"
                        formControlName="aFirstName"
                        mgFormat
                    >
                    <mgError magic="aFirstName"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label4"
                class="lable_overflow mgFont1"
            >
                aLastName</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aLastName"
                        formControlName="aLastName"
                        mgFormat
                    >
                    <mgError magic="aLastName"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label6"
                class="lable_overflow mgFont1"
            >
                aEmail</label>
            <mat-form-field>
                <div><input
                        matInput
                        magic="aEmail"
                        formControlName="aEmail"
                        mgFormat
                    >
                    <mgError magic="aEmail"> </mgError>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                magic="btnPayment"
            >
                Go to Payment</button>
        </div>
    </div>
</div>