/*this is a component css*/
.modifyCreateTicketProps {}

.Label6Props {
    overflow: hidden;
}

.nTicketTypeIsnProps {}

.Label2Props {
    overflow: hidden;
}

.aTicketNameProps {}

.Label4Props {
    overflow: hidden;
}

.nMaximumNumberTicketsProps {}

.Label9Props {
    overflow: hidden;
}

.nPriceProps {}

.save_ticketProps {}